.button {
	padding: 5px 10px;
	background-color: yellow;
	border-radius: 16px;
	color: black;
	border: none;
	outline: none;
	cursor: pointer;
}

.submit {
	margin-left: 20px;
	padding: 5px 10px;
	height: 29px;
	background-color: green;
	border-radius: 16px;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
}

.input {
	padding: 5px 10px;
	border-radius: 16px;
}
