.fieldList {
	margin: 0 auto;
	width: max-content;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	gap: 15px;
}

.fieldItem {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	font-size: 80px;
	border: 1px solid green;
	cursor: pointer;
}
